@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

/* Theme color */

:root {
  --bs-heading: #0D062D;
  --bs-subHeading: #787486;
  --bs-title: #9897A5;
  --bs-lightGray: #F5F5F5;
  --bs-borderColor: #DBDBDB;
  --bs-space: 20px;
  --bs-gap: 25px;
  --bs-bgColor: #F5F5F5;
  --bs-primaryBtn: #5d008f;
  --bs-primaryBtnHover: #48006F;
  --bs-primaryBtnBoxS: 0 6px 15px rgb(72 0 110 / 8%);
  --bs-secondaryBtn: #E9E9E9;
  --bs-secondaryBtnHover: #DDDDDD;

}